@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply bg-color-secondary px-9 py-3 rounded-md capitalize font-bold hover:opacity-80 ease-in duration-200;
}

.card_btn {
  @apply w-full px-9 py-3 bg-color-primary-dark rounded-md capitalize font-bold hover:bg-color-secondary ease-in duration-200;
}

.title {
  @apply text-3xl font-bold leading-snug md:text-4xl;
}

.blob-1 {
  @apply absolute w-40 h-40 sm:w-60 sm:h-60 md:w-80 md:h-80 top-0 -left-5 -z-10 blur-2xl opacity-30 overflow-hidden rounded-full bg-color-blob;
}

.blob-2 {
  @apply absolute w-40 h-40 sm:w-60 sm:h-60 md:w-80 md:h-80 bottom-10 right-0 -z-10 blur-2xl opacity-30 overflow-hidden rounded-full bg-color-secondary;
}

.user-text {
  display: none;
}

.user-text.active-text {
  display: block;
  animation: moveup 1s linear forwards;
}

.user-pic {
  transition: all 0.2s ease;
}

.user-pic.active-pic {
  border: 2px solid #ff7d3b;
}

@keyframes moveup {
  0% {
    margin-top: 40px;
    opacity: 0;
  }

  50% {
    margin-top: 20px;
    opacity: 0.1;
  }

  100% {
    margin-top: 0px;
    opacity: 1;
  }
}

.card {
  perspective: 1000px;
}

.front,
.back {
  backface-visibility: hidden;
  transition: all 0.4s ease;
}

.front {
  overflow: hidden;
}
